* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.b {
  border: 1px solid red;
}
.g-left {
  margin-right: auto;
}
.g-right {
  margin-left: auto;
}

body {
  padding: 0 20px;
}






.section-1 {
  width: 100%;
  margin-top: 10px;
}
.section-1 h2 {
  font-family: 'Poppins', sans-serif;
  color: #0087AB;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 38px;
}
.total-area-text {
  color: white;
  background: #FCA130;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  left: -20px;
}
.total-area-value {
  color: #FCA130;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 15px;
}




.ava-head {
  color: #008AA4;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,td {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  padding: 10px 0;
  text-align: center;
}
th {
  background: #00AECF;
  color: white;
}
tr {
  border: 1px solid #00AECF;
}


.log-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.log-header .ava-head {
  margin: 0;
  margin-right: auto;
}
.log-header input {
  width: 50%;
  padding: 6px 0;
  padding-left: 10px;
}
.export-div {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.view-btn {
  font-size: 10px;
  color: #FCA130;
  padding: 6px 20px;
  border: 2.5px solid #FCA130;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin-left: 10px;
}
#add-btn {
  background: #FCA130;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-left: 10px;
}

.log-table th {
  font-size: 10px;

}
.log-table td {
  font-size: 10px;

}












.remarks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 20px;
  z-index: 6;
  background: rgba(0, 0, 0, 0.4);
}
.remarks-container button {
  padding: 5px 15px;
  background: #FCA130;
  border-radius: 3px;
  color: white;
  border: none;
  outline: none;
}
.remarks-container button:hover {
  background: #00AECF;
}
.remarks {
  background: white;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  font-family: 'Roboto', sans-serif;
}
.remarks h4 {
  color:#00AECF;
  margin-bottom: 10px;
}
.remarks p{
  color:rgba(0, 0, 0, 0.85);
  font-size: 13px;
}
