{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/addlog.css' %}">

<div class="section-1">
  <h2>Add Log</h2>
  <span>{{type}} - {{desc}}</span>
</div>

<br><br>

<form class="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <span>Select Size</span>
  <select class="" name="product" id="product-list">
    <option value="None">----</option>
    {% for i in all_products %}
    <option value="{{i.size.length}},{{i.size.breadth}}">{{i.size}}</option>
    {% endfor %}
  </select>
  <br>
  <span>Initial Quantity</span>
  <input type="text" name="initial_quantity" placeholder="Initial Quantity" id="initial_quantity" readonly>
  <br>
  <span>In Quantity</span>
  <input type="text" name="in_quantity" value="0" placeholder="In" id="in_quantity" required>
  <br>
  <span>Used Quantity</span>
  <input type="text" name="used_quantity" value="0" placeholder="Used" id="used_quantity" required>
  <br>
  <span>Date</span>
  <input type="date" name="date" placeholder="Date" autocomplete="on" id="date"  required>
  <br>
  <button type="button" name="button" id="sub-btn">Add</button>
</form>



<br><br><br><br><br><br><br>

<script type="text/javascript">
  $("#product-list").change(function(){
    var p = document.getElementById('product-list').value
    var type = "{{type}}"
    var desc = "{{desc}}"
    console.log(p)
    $.ajax(
    {
      type:"GET",
      url: "/Get-Quantity",
      data:{
            p: p,
            type:type,
            desc:desc,
         },
         success: function( data )
         {
           if (data == "Error") {
             alert("Error fetching data.")
           } else {
             document.getElementById('initial_quantity').value = data
           }

         }
       })
  })


  $("#sub-btn").click(function(){
    var p = document.getElementById('product-list').value
    if (p == "None") {
      alert("Select appropriate size")
      return ;
    }
    $("#log-form").submit()
  })

</script>

{% endblock %}
