{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<div class="section-1">
  <h2>{{type}} <br> {{desc}} </h2>
</div>


<div class="log-header">
  <span class="ava-head g-left">All Logs</span>
  <input type="search" name="" value="" id="search-box" placeholder="Search">
  <a href="/Add-Log/{{type}}/{{desc}}/" class="" id="add-btn"> <img src="{% static 'img/Group 11.png' %}" alt=""> </a>
</div>
<table>
  <table class="log-table" id="log-table">
    <tr>
      <th>SIZE</th>
      <th>INITIAL</th>
      <th>IN</th>
      <th>USED</th>
      <th>LEFT</th>
      <th>DATE</th>
    </tr>
    {% for i in logs %}
    <tr>
      <td>{{i.product.size}}</td>
      <td>{{i.initial_quantity}}</td>
      <td>{{i.in_quantity}}</td>
      <td>{{i.used_quantity}}</td>
      <td>{{i.left_quantity}}</td>
      <td>{{i.date}}</td>
    </tr>
    {% endfor %}


  </table>
</table>
<div class="export-div">
  <a href="/Export-Individual/{{type}}/{{desc}}/" id="view-btn">EXPORT</a>
</div>

<br><br><br><br>


<script type="text/javascript">
  $('#search-box').on('input', function() {
    var val = document.getElementById('search-box').value
    var t = "<tr><th>SIZE</th><th>INITIAL</th><th>IN</th><th>USED</th><th>LEFT</th><th>DATE</th></tr>"
    $.ajax(
    {
      type:"GET",
      url: "/Search-Logs",
      data:{
            val:val,
            type:"{{type}}",
            desc:"{{desc}}",
         },
         success: function( data )
         {
           if (data == "Error") {
             alert("Error fetching data.")
           } else {
             console.log(data)
             for (var i = 0; i < data.length; i++) {
               t = t + "<tr><td>"+data[i][0]+"</td><td>"+data[i][1]+"</td><td>"+data[i][2]+"</td><td>"+data[i][3]+"</td><td>"+data[i][4]+"</td><td>"+data[i][5]+"</td></tr>"
               document.getElementById('log-table').innerHTML = t
             }
           }

         }
       })
  });


</script>


{% endblock %}
